
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .smooth {
    @apply transition-all delay-500 duration-500 ease-in-out;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}

.grid-cat {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}


.grid-cat-2 {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}


.z-1 {
  z-index: -1;
}


img {
  width: 100%;
  height: auto;
}

.z-lg {
  z-index: 99999999;
}
.z-xl {
  z-index: 999999999999;
}

.rounded-1 {
  border-radius: 3px;
}

.rounded-2 {
  border-radius: 8px;
}

.rounded-3 {
  border-radius: 12px;
}/* 

.poppins {
  font-family: "Poppins", sans-serif;

}

.open {
  font-family: "Open Sans", sans-serif;

}*/
